/target
/examples/**/target/
/.tmp-builder-output/
/dist
**/Cargo.lock.bak
.DS_Store
.env
.env.*
!.env.example
.vscode/*
!.vscode/launch.json
*.swp
*.swo
/wasm_cache/
/logs/
gateway_cache/
.beenet-dev/
